@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
.menulogin{
    width: 100%;
    height: 15vh;
    margin:auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
    cursor:pointer;
    margin-left: 1%;
    padding-top: 2px;
    max-width: 100%;
}
/* Conteúdo menu*/
nav{
    flex:1;
    padding-left: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 25px;
    padding-bottom: 28px;
}
nav ul li a{
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
nav ul li a:hover{
    border-bottom: solid 2px #000;
}

section{
    height: 100vh;
    width: 100%;
    background-color: #fff;
 }
 /*PARTE DO LOGIN*/
section .formlogin{
    position:relative;
    width: 50%;
    height: 100%;
}
section .logintela{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
    margin-top: 100px;
}
section .logintela .formlogin .inputBox{
    margin-bottom: 15px;
}
section .logintela .formlogin h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 80px;
}
section .logintela .formlogin .inputBox span{
    font-size: 16px;
    display:  inline-block;
    color: black; 
    font-weight: 300;
    font-size:16px;
    letter-spacing: 1px;
    font-family: 'Roboto',sans-serif;
}
section .logintela .formlogin .inputBox input{
    width: 100%;
    padding: 10px 15px;
    outline: none;
    font-weight: 450px;
    border: solid 2px black;
    font-size: 20px;
    letter-spacing: 1px;
    color:black;
    font-family: 'Roboto',sans-serif;
}
section .logintela .formlogin .inputBox input[type="button"]{
    background:black;
    color:#fff;
    outline: none;
    width: 525px;
    font-weight: 450px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Roboto',sans-serif;
}
section .logintela .formlogin .inputBox input[type="button"]:hover{
    background-color: white;
    color: black;
    border: solid 2px black;
}
section .logintela .formlogin .inputBox p{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 20px;
}
section .logintela .formlogin .inputBox p a{
    color: black;
}
/*IMAGEM FUNDO*/
.imgone img{
    position: absolute;
    top:0;
    right: 0;
    width: 53%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.imgret img{
    position: absolute;
    width: 10px;
    height: 753px;
    margin-top: 8%;
    margin-left: -200px;  
}


@media only screen and (max-width: 1440px) {
    .logo{
        width: 160px;
    }
    nav ul li a{
        font-size: 16px;
    }
    nav{
        padding-left: 5px;
        padding-top: 8px;
    }
    .imgret img{
        height: 600px;
        margin-top: 5%;
        margin-left: -160px; 
    }
    section .logintela .formlogin h2{
        font-size: 30px;
    }
    section .logintela .formlogin .inputBox button{
        padding: 10px 30px;
    }
    section .logintela .formlogin .inputBox p{
        font-size: 16px;
    }
    section .logintela .formlogin .inputBox input[type="button"]{
        width: 400px;
    }
}